body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 199, 131);
    font-family: sans-serif;
    font-weight: bold;

}

header{
    padding: 10px;
    padding-inline: 10%;
    margin: 0px;
    border-bottom: 1px solid black;
    background-color: orange;
}
h1{
    display: inline;
}
button{
    display: inline;
    text-align: center;
    float: right;
    margin: 0px;
    padding: 0px;
    height: 3em;
    width: 3em;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 204, 109);
}
button:hover{
    border: 1px solid black;
}

main{
    padding-inline: 20%;
    font-weight: normal;
    font-size: large
}
.imgdiv{
    width: 45%;
    display: inline-block;
    padding: 2%;
    text-align: center;
}
img{
    width: 100%;
    margin: auto;
}
a{
    background-color: orange;
    color: beige;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}